* text eol=lf

*.[jJ][aA][rR]          binary
*.[pP][nN][gG]          binary
*.[jJ][pP][gG]          binary
*.[jJ][pP][eE][gG]      binary
*.[gG][iI][fF]          binary
*.[sS][vV][gG]          text
*.[mM][iI][dD]          binary
*.[mM][iI][dD][iI]      binary
*.[oO][gG][gG]          binary
*.[pP][aA][tT][cC][hH]  -text
